
#cover{
    width: 27%;
    float: right;
    clear: none;
    box-shadow: 0 0 15px whitesmoke;
}

#logo{
    clear: both;
    box-shadow: 0 0 15px whitesmoke;
}

a:link{
    color: whitesmoke;
}

a:visited{
    color: yellow;
}

nav{
    list-style: none;
    clear: none;
}

body{
    padding: 25px 80px 25px 80px;
    background-color: #0a3b5c;
    color: whitesmoke;
}

#education, #projects{
    box-shadow: 0 0 15px whitesmoke;
    opacity: 0.85;
    text-align: right;
    clear: both;
    background-color: #3a33d1;
    padding: 10px;
    margin-bottom: 15px;
}

#skills, #top{
    box-shadow: 0 0 15px whitesmoke;
    opacity: 0.85;
    clear: both;
    background-color: #3a33d1;
    padding: 10px;
    margin-bottom: 15px;
}



.side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a3a3a3;
    display: block;
    transition: 0.3s;
}


.side a:hover {
    color: #f1f1f1;
}


.side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}