header
  background-color: darkred
  color: whitesmoke
  height: 150px

  a
    color: whitesmoke
    \:hover
      color: honeydew


footer
  position: fixed
  bottom: 0
  width: 100%
  margin: 0

  p
    text-align: center
    background-color: black
    color: whitesmoke

body
  background-color: #999999
  font-family: $font_sans
  width: 100%
  height: 100%
  margin: 0
  border: 0
  padding: 0

a
  text-decoration: none

ul
  list-style: none
  float: right

  li
    display: inline-block
    margin-right: 25px
    color: whitesmoke

h1
  clear: both


@media screen and (min-width: 320px) and (max-width: 1200px)
  body
    background-color: #999999
    font-family: $font_sans
    width: 100%
    height: 100%
    margin: 0
    border: 0
    padding: 0

  header
    background-color: darkred
    color: whitesmoke
    height: 50px