@keyframes flash
  0%
    opacity: 1
  25%
    opacity: 0
  50%
    opacity: 1
  75%
    opacity: 0
  100%
    opacity: 1


#item_flash
  animation: flash 6s 3s ease infinite

@keyframes rise
  0%
    height: 0%

  100%
    height: 40%

#photographer:hover
  animation: rise 1s ease