header {
  background-color: #444444;
  color: white; }

.error {
  color: darkred; }

#form_confirm {
  background-color: #eeeeee; }

#validate_form {
  background-color: #eeeeee; }
  #validate_form input {
    background-color: #cccccc; }
  #validate_form #name:valid {
    border-color: #bbffbb; }
  #validate_form #email:valid {
    border-color: #bbffbb; }
  #validate_form #pass:valid {
    border-color: #bbffbb; }
  #validate_form select {
    background-color: #cccccc; }
    #validate_form select option {
      background-color: #009926; }
  #validate_form .register {
    background-color: #4183c4;
    color: #eeeeee; }

#contact div {
  background-color: #4183c4;
  color: #eeeeee; }

body {
  font-family: 'Oswald', sans-serif; }

em {
  font-size: 0.7em;
  font-style: normal; }

ul {
  list-style: none;
  padding-left: 0;
  font-size: 0.5em; }

h1 {
  margin: 0;
  padding: 0.67em 0 0.67em 3%; }

h3 {
  font-size: 1.5em;
  margin: 0.83em 0 0.83em 0; }

#contact div {
  padding: 1% 0 5% 2%; }

#form_confirm p {
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  border: 0; }

header {
  width: 100%; }

#error_list {
  margin: 0; }

#form {
  float: left;
  width: 60%;
  padding-left: 3%; }

#form_confirm {
  display: none;
  padding: 30% 2% 30% 2%;
  text-align: center; }
  #form_confirm img {
    top: 40%;
    height: 50px;
    width: 50px; }
  #form_confirm p {
    top: 50%; }

#validate_form {
  padding: 3% 2% 0 2%; }
  #validate_form input {
    width: 60%;
    height: 3em;
    border-radius: 5px;
    border-width: 0px;
    margin-bottom: 1.25em; }
  #validate_form #name:valid {
    border-width: 3px; }
  #validate_form #email:valid {
    border-width: 3px; }
  #validate_form #pass:valid {
    border-width: 3px; }
  #validate_form > em {
    width: 38%;
    float: right;
    clear: none; }
  #validate_form select {
    width: 60%;
    height: 3em;
    border-radius: 5px;
    border-width: 0px;
    margin-bottom: 1.25em; }
  #validate_form .register {
    width: 60%;
    height: 3em; }

#form {
  float: none;
  width: 100%; }

#contact {
  clear: both;
  width: 100%;
  padding-right: 3%;
  padding-left: 3%; }

@media (min-width: 601px) {
  #form {
    float: left;
    width: 60%;
    padding-left: 3%; }
  #contact {
    clear: none;
    float: right;
    width: 30%;
    padding-left: 0%; } }
