header {
  background-color: #990073;
  color: whitesmoke;
  height: 150px; }
  header a {
    color: whitesmoke; }
    header a :hover {
      color: honeydew; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0; }
  footer p {
    text-align: center;
    background-color: black;
    color: whitesmoke; }

body {
  background-color: #999999;
  font-family: "PT Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  float: right; }
  ul li {
    display: inline-block;
    margin-right: 25px;
    color: whitesmoke; }

h1 {
  clear: both; }

#view_more {
  background-color: forestgreen;
  color: whitesmoke;
  width: 20%;
  height: 50px;
  margin: auto; }

.pkmn img, .item img {
  padding: 25px; }

.pkmn {
  border: solid #ff0 5px;
  margin: auto;
  width: 40%; }
  .pkmn h2 {
    left: 50%; }
  .pkmn img {
    left: 50%; }

.item {
  border: solid #000 4px;
  margin: auto;
  width: 40%; }
  .item h2 {
    left: 50%; }
  .item img {
    left: 50%; }

.move {
  border: solid #00f 3px;
  margin: auto;
  width: 40%; }
  .move h2 {
    left: 50%; }
  .move p {
    left: 50%; }

.place {
  border: solid #f00 6px;
  margin: auto;
  width: 40%; }
  .place h2 {
    left: 50%; }
  .place p {
    left: 50%; }

.game {
  border: solid #7f7 5px;
  margin: auto;
  width: 40%; }
  .game h2 {
    left: 50%; }
  .game p {
    left: 50%; }

.search_go {
  background-color: #a0f;
  border-radius: 10px;
  font-family: "PT Sans Caption", sans-serif; }

.main-block {
  padding: 0 100px 0 100px; }

.cover {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: cover; }

.cover:hover {
  cursor: pointer; }

.cover.playing {
  border: 5px solid #e45343; }
