header {
  background-color: #50a;
  color: whitesmoke;
  height: 150px;
  padding: 0 100px 0 100px; }
  header a {
    color: whitesmoke; }
  header a:hover {
    color: gold; }

footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black; }
  footer p {
    text-align: center; }

body {
  background-color: #999999;
  font-family: "PT Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  float: right; }
  ul li {
    display: inline-block;
    margin-right: 25px; }

h1 {
  clear: both; }

h3 {
  font-size: 10px; }

div #artist {
  background-color: #50a;
  margin-top: 300px; }

footer p, ul li, div #artist, .main-block a {
  color: whitesmoke; }

.search_go {
  background-color: #a0f;
  border-radius: 10px;
  font-family: "PT Sans Caption", sans-serif; }

.main-block {
  padding: 0 100px 80px 100px; }
  .main-block a {
    text-align: center;
    background-color: #50a; }
  .main-block a:hover {
    color: gold; }

.result {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: cover;
  margin: 40px 40px 60px 40px; }

.result:hover {
  box-shadow: 0 0 5px 5px #a0f inset; }
