
header
  background-color: #444444
  color: white

#validate_form
  background-color: #eeeeee

  input
    background-color: #cccccc
    border-radius: 5px

  select
    background-color: #cccccc
    border-radius: 5px

  .register
    background-color: #4183c4
    color: #eeeeee


#contact
  div
    background-color: #4183c4
    color: #eeeeee