body
  font-family: 'Oswald', sans-serif

em
  font-size: 0.7em

h1
  margin: 0
  padding: 0.67em 0 0.67em 3%

h3
  font-size: 1.5em
  margin: 0.83em 0 0.83em 0

#contact
  div
    padding: 1% 0 5% 2%
  
select
  background: transparent
  background-image: src="img/down-chevron.svg"

#form_confirm
  p
    font-size: 18px